body {
    font-family: Arial, Times New Roman;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #000;
    color: white;
    text-align: center;
    
}

nav {
    background-color: #333;
    text-align: center;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    
}

.section {
    background-color: rgb(255, 209, 209);
    margin: 20px 0;
    border-radius: 8px;
}

.section img {
    width: 100%;
    max-height: 350px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
   
}
